%section {
  margin: auto;
  padding: var(--size-8) var(--size-5);

  .wrapper {
    max-width: var(--max-width);
    margin: auto;
  }
}

.section {
  @extend %section;
}

.secondaryColor {
  @extend %section;
  background: var(--ligth-color);
}

.dark {
  @extend %section;
  background-color: var(--foreground);
  color: var(--ligth-color);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    header {
      .titulo,
      p {
        position: relative;
        color: #ffffff;
      }

      .titulo:after {
        background: var(--ligth-color);
      }
    }
  }
}

.dark::before {
  content: '';
  background-image: url('/images/header-img.jpg');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.15;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
