$breakpoint-mobile: 480px;

%btn {
  display: block;
  font-weight: 600;
  font-size: var(--size-2);
  width: fit-content;
  height: fit-content;
  padding: 18px 32px;
  border-radius: var(--border-radius);
  border: none;
  transition: all 0.5s ease-in;
  color: var(--ligth-color);
  cursor: pointer;
}

.btn {
  @extend %btn;
  background: var(--primary-color);
}

.secondaryBtn {
  @extend %btn;
  background: var(--secondary-color);
}

.transparentBtn {
  @extend %btn;
  color: var(--foreground-color);
  padding: 18px 12px 18px 20px;
}

@media screen and (max-width: $breakpoint-mobile) {
  %btn {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
}
