$breakpoint-mobile: 480px;

%btn {
  display: block;
  font-weight: 600;
  font-size: var(--size-2);
  width: fit-content;
  height: fit-content;
  padding: 18px 32px;
  border-radius: var(--border-radius);
  border: none;
  transition: all 0.2s ease;
  color: var(--ligth-color);
  cursor: pointer;
}

.btn {
  @extend %btn;
  background: var(--primary-color);
}

.btn:hover,
.btn:focus {
  filter: saturate(200%);
}

.secondaryBtn {
  @extend %btn;
  background: transparent;
  color: var(--primary-color);
  border: solid 1px var(--primary-color);
}

.secondaryBtn:hover,
.secondaryBtn:focus {
  @extend %btn;
  background: var(--primary-color);
  border: solid 1px var(--primary-color);
}

.transparentBtn {
  @extend %btn;
  color: var(--foreground-color);
  padding: 18px 12px 18px 20px;
}

.transparentBtn::after {
  content: ' →';
}

.transparentBtn:hover,
.transparentBtn:focus {
  transform: translateX(5px);
}

@media screen and (max-width: $breakpoint-mobile) {
  %btn {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
}
