$breakpoint-mobile: 480px;

.card {
  background: #fff;
  position: relative;

  .image {
    position: relative;
    height: 200px;
    width: 100%;

    img {
      object-fit: cover;
    }
  }

  .content {
    display: flex;
    flex-direction: column;

    .desc {
      padding: var(--size-3);
      margin-bottom: var(--size-7);

      h4 {
        margin-bottom: var(--size-3);
      }

      p {
        margin-bottom: var(--size-3);
        white-space: pre-line;
      }
    }
    .actions {
      padding: var(--size-3);
      position: absolute;
      bottom: 0;
      display: inline-block;
    }
  }
}

@media screen and (width < $breakpoint-mobile) {
  .card {
    .content {
      .desc {
        margin-bottom: 0;
      }
      .actions {
        position: unset;
      }
    }
  }
}
