$breakpoint-tablet: 768px;

.servicioContainer {
  background: var(--ligth-color);
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  min-width: 300px;
  height: 90vh;
  margin: 0 var(--size-3);
  padding-top: var(--size-5);
  animation: scaleIn 0.2s ease 0s 1 normal forwards;
  overflow-y: scroll;
  box-shadow: rgba(243, 247, 254, 0.8) 0px 8px 24px;
  // border: solid 1px var(--secondary-color);

  .closeIcon {
    align-self: flex-end;
    margin: 20px 25px;
    position: absolute;
    top: 0;
    right: 0;
  }

  .image {
    position: relative;
    height: 100px;
    width: 100%;

    img {
      object-fit: cover;
    }
  }

  .contenido {
    padding: var(--size-5);
    margin-top: var(--size-4);
    white-space: pre-line;

    ul {
      margin-top: var(--size-5);

      li {
        margin-bottom: var(--size-3);
        font-weight: 500;
      }
    }
  }
}

@keyframes scaleIn {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@media screen and (width < $breakpoint-tablet) {
  .servicioContainer {
    .contenido {
      padding: var(--size-3);
    }
  }
}
