.sectionTitle {
  margin-bottom: var(--size-5);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
  gap: var(--size-3);

  li {
    animation: swingIn 0.5s ease 0s 1 normal forwards;
  }
}

.loadMoreBtn {
  padding: var(--size-3);
  display: flex;
  justify-content: center;

  p {
    animation: swingIn 0.5s ease 0s 1 normal forwards;
  }
}

@keyframes swingIn {
  0% {
    opacity: 0;
    transform: rotateX(70deg);
    transform-origin: top;
  }

  100% {
    opacity: 1;
    transform: rotateX(0deg);
    transform-origin: top;
  }
}
